---
const pageTitle = "帮助";
---

<html lang="zh_cn">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>

	<body>
        <a href="/">首页</a>
        <a href="/about/">关于</a>
        <a href="/help/">帮助</a>
        <a href="/blog/">文章</a>

		<h1>欢迎来到Help界面，管理员！</h1>
        <p>这里储存一些帮助内容，如果你愿意...</p>
        <p>你可以随时编辑这里的内容！</p>
        <p>但是首先请记住，这里的内容都是HTML格式，别用成markdown了~</p>
	</body>
</html>